.loader {
    display: flex;
    flex-direction: column;
    margin: 35vh auto;

    .preloader {
        display: inline-block;
        position: relative;
        width: 50%;
        height: 50%;

        & div {
            position: absolute;
            border-radius: 50%;
            border: 6px solid var(--velvet-color);
            opacity: 1;
            animation: loader 1s cubic-bezier(0, .2, .8, 1) infinite;
        }

        & div:nth-child(2) {
            animation-delay: -.5s;
        }

        @keyframes loader {
            0% {
                top: 5em;
                left: 5em;
                width: 0;
                height: 0;
                opacity: 0;
            }
        
            4% {
                top: 5em;
                left: 5em;
                width: 0;
                height: 0;
                opacity: 0;
            }
        
            5% {
                top: 5em;
                left: 5em;
                width: 0;
                height: 0;
                opacity: 1;
            }
        
            100% {
                top: 0px;
                left: 0px;
                width: 10em;
                height: 10em;
                opacity: 0;
            }
        }
    }
}
