:root {
    --body-background-color: linear-gradient(to bottom right, #ddd6fe, #818cf8);
    --blur-background: #ffffff4d;
    --tab-background: #ffffff1d;
    --tab-text-color: #4b5563;
    --text-color: #000;
    --velvet-color: #818cf8;
    --velvet-color-numbers: #8e5ea2;
    --menu-bottom-line-color: #e2e2e2;
    --white-color: #fff;
    --hot-red-color: #FE433C;
    --warm-red-color: #F31D64;
    --cold-blue-color: #3C50B1;
    --ice-cold-blue-color: #0095EF;
    
    --max-width: 1500px;
}

* {
    box-sizing: border-box;
}

.App {
    text-align: center;
    background-image: var(--body-background-color);
    min-height: 100vh;
    margin: 0;
    color: var(--text-color);
    transition: all .3s ease-in-out;
    overflow: clip;

    .wrapper {
        .left {
            flex: 1;
        }
    
        .right {
            flex: 3;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            max-width: var(--max-width);
        }

        .select-data {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            span {
                font-weight: 700;
            }
        }

        p {
            text-align: left;
            font-size: 1.125rem;
            line-height: 1.5;
            margin: 0;
        }

        .info {
            display: grid;
            gap: 2rem;

            span {
                font-size: 1rem;
                line-height: 1.5;
                font-weight: 600;
            }
        }

        .select {
            min-width: 7ch;
            max-width: 15ch;
            padding: .5rem;
            margin: 0;
            outline: none;
            color: var(--text-color);
            font-size: .9rem;
            cursor: pointer;
            line-height: 1.1;
        }
    }
}

@media (min-width: 1000px) {
    .App {
        .wrapper {
            display: flex;

            .select-data {
                flex-direction: row;
            }

            .info {
                span {
                    font-size: 1.125rem;
                }
            }
            
        }
    }    
}
